body {
    background-color: #aaaaaa;
    background-image: url( ../images/composition-book-cover-tile-attrib-req-electric-eye-flickr.jpg);
    font-family: FormaDJRMicro, Helvetica, Arial, sans-serif; 
    font-style: normal; 
    font-weight: normal; 
    font-size: 16px;
}

/* a, a:link {
    color: #31a2ac;
} */

h1 {
    font-family: FormaDJRDisplay, Helvetica, Arial, sans-serif; 
    font-style: normal; 
    font-weight: bold; 
    font-size: 48px; 
    line-height: 1.2em;
}

.intro {
    text-align: left;
}

a.btn, a.btn:link {
    color: #ffffff;
    text-decoration: none;
}

nav.custom-sidebar, nav.custom-sidebar ul, nav.custom-sidebar ul li {
    display: block;
    overflow-wrap: break-word;
}

nav.custom-sidebar {
    min-height: min-content;
    max-height: 100vh;
}

.portfolio-body {
    background-color: #aaaaaa;
    background-image: url( ../images/lined_paper.png);
}

.custom-fill-viewport {
    min-height: 100vh;
} /* this is used to set the largest page containers to a minimum of the viewport height- changed from simply height since on smaller screens I want it to grow, just never not fill the screen*/

.custom-full-height {
    min-height: 100%;
    max-height: auto;
}

.jumbotron {
    text-align: center;
    font-family: FormaDJRMicro, Helvetica, Arial, sans-serif; 
    font-style: normal; 
    font-weight: normal; 
    font-size: 16px; 
    line-height: 1.4em;

}

.jumbotron h3 {
    /* text-transform: uppercase; */
    /* text-decoration: underline; */
    font-family: FormaDJRDeck, Helvetica, Arial, sans-serif; 
    font-style: italic; 
    font-weight: normal; 
    font-size: 30px; 
    line-height: 1.4em;
}

.nav-pills .nav-link.active {
    color: #222222;
    background-color: #ffffff;
}

.nav-pills .nav-link.active:hover {
    color: #ffffff;
    background-color: #999999;
    text-decoration: none;
}

.nav-pills .nav-link {
    color: #ffffff;
    text-decoration: none;
}

.nav-pills .nav-link:hover, .nav-pills .nav-link:focus {
    text-decoration: underline;
}

footer div {
    text-align: center;
    font-size: 14px;
    color: #cccccc;
}

footer div.credits {
    text-align: justify;
    font-size: 10px;
    line-height: 12px;
}

footer div.credits a, footer div.credits a:link, footer div.credits a:hover {
    text-decoration: underline;
    color: #666666;
}

