@font-face {
    src: url('fonts/FormaDJRMicro-Regular.eot'); /* IE < 9 */
    src: url('fonts/FormaDJRMicro-Regular.eot?#') format("embedded-opentype"), /* IE 9 */
         url('fonts/FormaDJRMicro-Regular.woff2') format("woff2"),
         url('fonts/FormaDJRMicro-Regular.woff') format("woff");
    font-family: 'FormaDJRMicro';
    font-style: normal;
    font-weight: normal;
    }

@font-face {
    src: url('fonts/FormaDJRDeck-Regular.eot'); /* IE < 9 */
    src: url('fonts/FormaDJRDeck-Regular.eot?#') format("embedded-opentype"), /* IE 9 */
         url('fonts/FormaDJRDeck-Regular.woff2') format("woff2"),
         url('fonts/FormaDJRDeck-Regular.woff') format("woff");
    font-family: 'FormaDJRDeck';
    font-style: normal;
    font-weight: normal;
    }

@font-face {
    src: url('fonts/FormaDJRDisplay-Regular.eot'); /* IE < 9 */
    src: url('fonts/FormaDJRDisplay-Regular.eot?#') format("embedded-opentype"), /* IE 9 */
         url('fonts/FormaDJRDisplay-Regular.woff2') format("woff2"),
         url('fonts/FormaDJRDisplay-Regular.woff') format("woff");
    font-family: 'FormaDJRDisplay';
    font-style: normal;
    font-weight: normal;
    }

@font-face {
    src: url('fonts/FormaDJRDeck-Italic.eot'); /* IE < 9 */
    src: url('fonts/FormaDJRDeck-Italic.eot?#') format("embedded-opentype"), /* IE 9 */
         url('fonts/FormaDJRDeck-Italic.woff2') format("woff2"),
         url('fonts/FormaDJRDeck-Italic.woff') format("woff");
    font-family: 'FormaDJRDeck';
    font-style: italic;
    font-weight: normal;
    }

@font-face {
    src: url('fonts/FormaDJRDisplay-Bold.eot'); /* IE < 9 */
    src: url('fonts/FormaDJRDisplay-Bold.eot?#') format("embedded-opentype"), /* IE 9 */
         url('fonts/FormaDJRDisplay-Bold.woff2') format("woff2"),
         url('fonts/FormaDJRDisplay-Bold.woff') format("woff");
    font-family: 'FormaDJRDisplay';
    font-style: normal;
    font-weight: bold;
    }
